services:
  db:
    container_name: mariadb
    image: "mariadb:12.1"
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - "./mariadb/data/mysql:/var/lib/mysql"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3