# Pihole
dns/pihole/

# Nginx
proxy/nginx/

# Homarr
dashboards/homarr/

# Home Assistant
dashboards/home-assistant/

# MySQL
databases/mysql-data/

# Plex
media/plex

# Immich
photos/postgres

# PVE-Exporter
monitoring/pve-exporter/pve.yml

# Prometheus
monitoring/prometheus/prometheus.yml
monitoring/prometheus/ha_token

# Melie
dashboards/mealie/

# Grafana
monitoring/grafana/config/grafana.ini
monitoring/grafana/provisioning/alerting/contact-points.yml