apiVersion: v1
kind: Secret
metadata:
  name: auth-oidc-secret
  namespace: homarr
type: Opaque
stringData:
  # -- ID of OIDC client (application) secret key
  oidc-client-id: ""

  # -- Secret of OIDC client (application) secret key
  oidc-client-secret: ""
