apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: host-rules
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  groups:
    - name: "prom.rules"
      rules:
        - alert: HostHighMemoryUsage
          expr: (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) * 100 > 85
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: "High Memory Usage on {{ $labels.instance }}"
            description: 'Memory usage is at {{ printf "%.2f" $value }}% for more than 10 minutes on node {{ $labels.instance }}.'
            type: "Infrastructure"

        - alert: HostNodeDown
          expr: up{job="host"} == 0
          for: 2m
          labels:
            severity: critical
          annotations:
            summary: "Host {{ $labels.instance }} is OFFLINE"
            description: "The host machine {{ $labels.instance }} (Nexus Server) is unreachable for more than 2 minutes."
            type: "Infrastructure"

        - alert: HostHighCpuUsage
          expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{job="host", mode="idle"}[5m])) * 100) > 85
          for: 20m
          labels:
            severity: critical
          annotations:
            summary: "High CPU usage on {{ $labels.instance }}"
            description: 'CPU usage is above 85% (Current: {{ printf "%.2f" $value }}%) for more than 20 minutes.'
            type: "Infrastructure"

        - alert: HostStorageHighUsage
          expr: (pve_disk_usage_bytes{job="pve-exporter-svc", id=~"storage/.+"} / pve_disk_size_bytes) * 100 > 85
          for: 1m
          labels:
            severity: warning
          annotations:
            summary: "Proxmox Storage {{ $labels.id }} is filling up"
            description: 'Storage {{ $labels.id }} on Proxmox has used more than 85% of its capacity (Current: {{ printf "%.2f" $value }}%).'
            type: "Infrastructure"
