apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich

resources:
  - immich-ns.yaml

  - configmap.yaml
  - secret.sealed.yaml

  - db/pvc.yaml

  # Libraries
  - server/libraries/library-nfs-pv.yaml
  - server/libraries/library-pvc.yaml
  - server/libraries/google-photos-library-nfs-pv.yaml
  - server/libraries/google-photos-library-pvc.yaml
  - server/libraries/usb-backups-library-nfs-pv.yaml
  - server/libraries/usb-backups-library-pvc.yaml

  - db/deployment.yaml
  - redis/deployment.yaml
  - server/deployment.yaml
  - ml/deployment.yaml

  - db/service.yaml
  - redis/service.yaml
  - server/service.yaml
  - server/ingress-route.yaml
  - ml/service.yaml
