# Disable configmaps to migrate to ArgoCD app by app
!/apps/dashboards/mealie/configmap.yaml
!/apps/dashboards/homarr/values.yaml
!apps/dns/unbound-configmap.yaml
!apps/dns/pihole-configmap.
!apps/media/immich/configmap.yaml
!apps/media/plex/configmap.yaml