# Proxmox Provider
pve_endpoint  = "https://<PROXMOX-IP>:8006"
pve_token_id  = "<TOKEN-ID>"
pve_api_token = "<TOKEN-VALUE>"

# Proxmox SSH
pve_user            = "<USERNAME-IN-PROXMOX-HOST>"
pve_ssh_key_private = "~/.ssh/<PRIVATE-KEY-FILENAME>"

# Common
pve_node_name = "<NODE-NAME>"

# VM
gateway = "<IPV4-GATEWAY>"

# Cloud init
timezone           = "UTC"
vm_user            = "<VM-USERNAME>"
# Generate hashed password with: openssl passwd -6
vm_password_hashed = "<HASH-PASSWORD>"
