# Prometheus
monitoring/prometheus/prometheus.yml
monitoring/prometheus/ha_token

# Grafana
monitoring/grafana/config/grafana.ini
monitoring/grafana/provisioning/alerting/contact-points.yml

# PVE-Exporter
monitoring/pve-exporter/pve.yml