DOMAIN=https://vault.mydomain.com
WEBSOCKET_ENABLED=true
ADMIN_TOKEN='<token-goes-here>'

# === SSO ===
SSO_ENABLED=true
SSO_AUTHORITY=https://authentik.company/application/o/<application_slug>/
SSO_CLIENT_ID=<client_id>
SSO_CLIENT_SECRET=<client_secret>
SSO_SCOPES=email profile offline_access
SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
SSO_CLIENT_CACHE_EXPIRATION=0
SSO_ONLY=false # Set to true to disable email+master password login and require SSO
SSO_SIGNUPS_MATCH_EMAIL=true # Match first SSO login to existing account by email

# === Optional for Mail Notifications ===
# Vaultwarden will send mail to Proxmox (Postfix) over LAN
SMTP_HOST=<host-ip>
SMTP_PORT=25
SMTP_FROM=<sender-email-address>
SMTP_FROM_NAME=Vaultwarden
SMTP_SECURITY=off