apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
  namespace: databases
spec:
  selector:
    app: mariadb
  ports:
    - name: mariadb
      port: 3306
      targetPort: 3306
  clusterIP: None
