apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 77.14.0
      helm:
        valueFiles:
          - $values/k3s/apps/monitoring/kube-prometheus-stack/values.yaml

    - repoURL: https://github.com/manos-grigorakis/home-lab.git
      targetRevision: feat/grafana-loki-alloy
      path: k3s/apps/monitoring/kube-prometheus-stack/manifests
      ref: values
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
