apiVersion: v1
kind: Secret
metadata:
  name: authentik-secrets
  namespace: authentik
type: Opaque
stringData:
  # Generate with `openssl rand 60 | base64 -w 0`
  AUTHENTIK_SECRET_KEY: ""
  AUTHENTIK_POSTGRESQL__PASSWORD: ""
