apiVersion: v1
kind: Secret
metadata:
  name: authentik-secrets
  namespace: authentik
type: Opaque
stringData:
  # === Authentik ===
  # Generate with `openssl rand 60 | base64 -w 0`
  AUTHENTIK_SECRET_KEY: ""

  # === PostgreSQL ===
  AUTHENTIK_POSTGRESQL__HOST: "postgres.databases.svc.cluster.local"
  AUTHENTIK_POSTGRESQL__PORT: "5432"
  AUTHENTIK_POSTGRESQL__NAME: "authentik"
  AUTHENTIK_POSTGRESQL__USER: "authentik"
  AUTHENTIK_POSTGRESQL__PASSWORD: ""

  # === Email ===
  AUTHENTIK_EMAIL__PASSWORD: 
