# Homarr

# Set the appropriate timezone for your location
# More information: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ= # e.g Europe/London

# You can generate a key by running: openssl rand -hex 32
SECRET_ENCRYPTION_KEY=